version: 2
updates:
- package-ecosystem: "uv"
  directory: "/"
  schedule:
    interval: "daily"
  commit-message:
    prefix: "fix"
  open-pull-requests-limit: 10

- package-ecosystem: "pip"
  directory: "/"
  schedule:
    interval: "daily"
  commit-message:
    prefix: "security"
  open-pull-requests-limit: 10
